<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="source.css">
    <title>Hospitsy</title>
</head>

<body>
    <div class="home-whole-screen">

        <!-- Navigation Bar -->
        <div class="left-navigation-bar">
            <div class="img-box">
                <img src="https://dsm04pap003files.storage.live.com/y4misr4qAtYhbNE-t1YRRDygPGHPpTgj5SBzgR7XpQzKnP9ZRPYNxmzP7UBZK1UO8QyTcJmKvF4ZQXip1KfPSpLdZgLxtDXOu6VM2Hx62WFP8scYPHVpkY13WOatNt2n3eIelp0Nn7MXfaaDtek5jp8b-rpadJiAhEo4kc7wC3oJHeSLhi1GHmgH9pZooc17APt?width=2085&height=2085&cropmode=none"
                    alt="">
            </div>
            <h1 class="name">Umang Rathod</h1>
            <h2 class="email">rathodumang319@gmail.com</h2>

            <a href="/">
                <div class="nav-link">
                    <img src="https://dsm04pap003files.storage.live.com/y4mBXDUYBa7hqsQYW26gcqWcdnYoprYTKgmeslMpd97xBOPbFWLw6oMHICetOTQwiQpcYyz35FrZKhqnB36gD4YlpCiskRmGWQPszEZ03vGPfBGEUZ5Hl8jYqyUBXsMc_CAaztBkJaZ0VkQjIAE1EijeGh10AWqzANg20v-5QNdFPzm0DEasT2ShGfu8PDnRPlC?width=48&height=48&cropmode=none"
                        alt="Home Icon">
                    <h1>Home</h1>
                </div>
            </a>

            <a href="/">
                <div class="nav-link">
                    <img src="https://dsm04pap003files.storage.live.com/y4mqRdlYounN_SO4bZCYrOOV9GcQr30oEP-L-Ky6RVJkSNwec10BpIaBBbw2T5fR_bLP8dG5CeDSASGPQjysDoCPkfbZtzKpUIIf5tmgZ1ZjhItohQfk7tR3knD9gB-GnIZ3bBne2lmvWMs4Mjealsu1EOrfgxTGAcG_aDB382KZtI7pP9hVwt7zDYfPt2Tj_GT?width=48&height=48&cropmode=none"
                        alt="Appointment Icon">
                    <h1>Appointments</h1>
                </div>
            </a>

            <a href="#">
                <div class="nav-link">
                    <img src="https://dsm04pap003files.storage.live.com/y4mCa84OlerlHEbh7F59dSA8y_DrDIJbTAvggkd6IeM1wGr6t9YveXiUGJu23oN3ovagVTuLVzg1w1sI0HkTR0xRbEAoFPu0IdrsLRwZ-ERjOtgQwnmscIbjI4SGY-Nmy295IWMwztERkEtpqmFB5IOjKXVGRZTVQACZp8lDLBQl2pROP02L6hpNKZsnq-nIolm?width=48&height=48&cropmode=none"
                        alt="Chat Icon">
                    <h1>Chat</h1>
                </div>
            </a>

            <a href="#">
                <div class="nav-link">
                    <img src="https://dsm04pap003files.storage.live.com/y4me7vSDdQ23DVntXPdkMYZm8fXdIrH5qD5LtNxHOcJnX6vpymp02GWuRsPeCa695F1sDYNl2OaPmlKbqbT7kwlvlVc4fZYvok_GCuv0CfcHWinQdOuHm1qRKGOrXySpZB128hf78oZRmgYRBBeMrwE4YUrhIXqLYzxNtV6pmqFiupBUwyAO_zdDyRmp6C2QjzB?width=48&height=48&cropmode=none"
                        alt="Profile">
                    <h1>Profile</h1>
                </div>
            </a>

            <a href="/login" onclick="logout()">
                <div class="nav-link">
                    <img src="https://dsm04pap003files.storage.live.com/y4mXfsO9AjjSUDk3WaHzU5CD2Np_sJdTR9wjqBGXTkWUsk-CZrDk-85uBGlbFzaHFH4XV5-OJ6zWenwAGrOdWrPJq6GNpxJcORzzUkU6bdiFUeFrc7m1iuNvs6t-jyz18yY2hmO2W6IdndJbDR3g1fAYSUVsGmJRf46c2Q7xrt0kutspYKLbxzjy-W7UfVNsFWH?width=48&height=48&cropmode=none"
                        alt="Profile">
                    <h1>Logout</h1>
                </div>
            </a>

        </div>



        <!-- Home  -->
        <div class="home-content">

            <!-- Greet Part -->
            <h1 class="greeting">Good Morning,</h1>
            <h1 class="doctorName">Umang Rathod !</h1>
            <h1 class="quote">Medicines💊 cure diseases, but only doctors🧑🏻‍⚕️ can cure patients.</h1>

            <!-- Approve appointment Requests -->
            <h1 class="home-heading">Appointments To Approve</h1>
            <div class="home-appointment-list">
                <ol>
                    <li>
                        <div class="home-appointment-request">
                            <h1 class="home-patient-name">Umang Rathod</h1>
                            <a href="/" class="home-appointment-dec approve">Approve</a>
                            <a href="/" class="home-appointment-dec cancel">Cancel</a>
                        </div>
                    </li>

                    <li>
                        <div class="home-appointment-request">
                            <h1 class="home-patient-name">Rajesh Patel</h1>
                            <a href="/" class="home-appointment-dec approve">Approve</a>
                            <a href="/" class="home-appointment-dec cancel">Cancel</a>
                        </div>
                    </li>

                    <li>
                        <div class="home-appointment-request">
                            <h1 class="home-patient-name">Akash Parmar</h1>
                            <a href="/" class="home-appointment-dec approve">Approve</a>
                            <a href="/" class="home-appointment-dec cancel">Cancel</a>
                        </div>
                    </li>

                    <li>
                        <div class="home-appointment-request">
                            <h1 class="home-patient-name">Daksh Chaudhari</h1>
                            <a href="/" class="home-appointment-dec approve">Approve</a>
                            <a href="/" class="home-appointment-dec cancel">Cancel</a>
                        </div>
                    </li>

                </ol>
            </div>

            <!-- Change/Show available beds in hospital -->
            <h1 class="home-heading">Available Beds</h1>
            <div class="showAndChangeBeds">
                <h1 class="available-beds">Available:3</h1>
                <a href="/" class="changeBeds">Change</a>
            </div>
        </div>






    </div>
    <script>
        //Set Greeting
        // const hrs = new Date().getHours();
        // const greet = hrs < 12 ? "Good Morning" :
        //                                     (hrs < 18 ? "Good Afternoon" : "Good Evening");
        // document.getElementById("greeting").innerHTML = greet;

        const logout = () => {
            window.alert("You have successfully logged out.");
        }
    </script>


</body>

</html>