<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Signup to hospitsy</title>
    </head>
    <body>

        <div class="login-whole-screen">
            <div class="login-container">

                <h1>Hospitsy</h1>

                <form action="/signup" method="post">
                    <input type="text" name="name" id="name" placeholder="Enter name">
                    <input type="email" name="email" id="email" placeholder="Enter email">
                    <input type="password" name="password" id="password" placeholder="Enter password">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

    </body>
</html>